.container {
  margine: 0%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  max-width: 100;
}

.header {
  background-color: black;
  margin: 1%;
  height: fit-content;
  border-radius: 5px;
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.name {
  color: white;
}

.main {
  background-color: rgb(252, 154, 7);
  margin: 1%;
  height: fit-content;
  border-radius: 5px;
  padding: 3%;
  flex-flow: row wrap;
}

.first {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.second {
  background-color: white;
  margin: 10px;
  height: 50%;
  padding: 1.5%;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.text {
  /* text-align: center; */
  font-size: 130%;
}

.title {
  text-align: center;
}

.res {
  padding: 20px;
  width: 150px;
  height: 150px;
  text-align: center;
}

